@define TotalLength: 30s;
@define TimingFunc: linear;
@define IterationCount: 1;

.AIFrameWorkSetupRoot
{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: clip;
}

#SettingsPanel
{
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 150px;
	margin-left: 100px;
	flow-children: right;
}