<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Dota2AIService</display-name>
	<servlet>
		<servlet-name>ServletAdaptor</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>
        se.lu.lucs.dota2.service
    </param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.tracing.type</param-name>
			<param-value>ALL</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletAdaptor</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>


</web-app>

